### Second Practice Activity of a Recommendation System

In the first notebook, I briefly explained recommendation systems and how to divide them. Furthermore, I implemented two initial collaborative methods, an item-based movie recommendation, and a user-based movie recommendation; these are simply methods using similarity metrics to recommend new movies.

Here, I want to implement a Content recommendation system, using the same movie dataset.

In [2]:
import numpy as np
import pandas as pd

In [3]:
names = pd.read_csv("./movie_information/movie.csv")

names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [45]:
tags = pd.read_csv("./movie_information/tag.csv")

tags = tags.drop(["timestamp", "userId"], axis = 1)

tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465564 entries, 0 to 465563
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   movieId  465564 non-null  int64
 1   tag      465548 non-null  object
dtypes: int64(1), object(1)
memory usage: 7.1+ MB

In [54]:
tags['tag'] = tags['tag'].astype(str).apply(lambda x: x.capitalize().strip())
tags = tags.drop_duplicates()

tags.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195878 entries, 0 to 465563
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   movieId  195878 non-null  int64
 1   tag      195878 non-null  object
dtypes: int64(1), object(1)
memory usage: 4.5+ MB

In [73]:
print(names[names["movieId"] == 27155])

      movieId                                      title  \
9274    27311  Batman Beyond: Return of the Joker (2000)

                                      genres
9274  Action|Animation|Crime|Sci-Fi|Thriller

In [87]:
result = tags.groupby(['movieId'], as_index=False).agg({'tag': '; '.join})

result

       movieId                                                tag
0            1  Watched; Computer animation; Disney animated f...
1            2  Time travel; Adapted from:book; Board game; Ch...
2            3  Old people that is actually funny; Sequel feve...
3            4              Chick flick; Revenge; Characters; Clv
4            5  Diane keaton; Family; Sequel; Steve martin; We...
...        ...                                                ...
19540   131054                                          Dinosaurs
19541   131082                        Documentary; Yoshitomo nara
19542   131164                                        Vietnam war
19543   131170                                  Alternate reality
19544   131258             Bandits; Korea; Mutiny; Pirates; Whale

[19545 rows x 2 columns]

      movieId                                                tag
7976    27155  Less than 300 ratings;Batman;Double life;Super...